header {
  text-align: center;
  background: darkgreen;
  padding: 2rem;
}
header form {
  max-width: 500px;
  margin: auto;
}
img {
  max-height: 100px;
  max-width: 100px;
}
.hidden {
  display: none;
}
